.Maincard {
    width: 50%;
    height: auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%), 0 1px 2px 0 rgb(0 0 0 / 19%);
    border: 1px solid #f0f0f0;
    margin-bottom: 34px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0 auto; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}

.Maincard:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 16px 0 rgb(0 0 0 / 19%);
}

.Maincard>.img {
    /* padding: 5px; */
    max-width: 100%;
    border-radius: 8px;
    box-shadow:
        2.5px 2.8px 3.2px rgba(0, 0, 0, 0.014),
        4.7px 5.2px 7.6px rgba(0, 0, 0, 0.02),
        6.9px 7.7px 14.3px rgba(0, 0, 0, 0.025),
        9.7px 10.9px 25.5px rgba(0, 0, 0, 0.03),
        14.2px 15.8px 47.6px rgba(0, 0, 0, 0.036),
        26px 29px 114px rgba(0, 0, 0, 0.05);
    background-color: #fefefe;
}

.img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    /* padding: 1px; */
    height: 32vh;
    background-size: contain;

}

.Maincard>.title {
    font-size: 23px;
    font-weight: bold;
    margin-top: 5px;
    font-family: 'Trebuchet MS';
    color: #000;
    margin-top: 6px;
    text-align: center;
    text-transform: capitalize;

}

.Maincard>.subtit {
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    color: #000;

    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 23px;
    font-family: 'Comic Sans MS';
    text-transform: capitalize;

}

.Maincard>.disc {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    margin-top: 5px;
    text-align: center;
    padding: 6px;

    font-family: 'Trebuchet MS';
    text-transform: capitalize;

}

.disc>.btn {
    background-color: hotpink;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 8px;

    border: 1px solid hotpink;
    color: white;

}

@media only screen and (max-width: 430px) {

    .Maincard {
        width: 76vw;
    }

    .img {
        max-width: 100%;
        display: flex;
        justify-content: center;
        /* padding: 7px; */
        height: 32vh;
        background-size: contain;

    }
}